.gray-div {
  background-color: gray;
  border-top: rgb (94, 92, 92) ;

  width: auto;
  height: 50px;
}
span {
  color: green;
  font-weight: bolder;
  font-size: 20px;
}
p {
  line-height: 1.5em;
  font-size: 20px;
}
.gray-2 {
  background-color: rgb (94, 92, 92);
  border-top: 3px solid rgb (94, 92, 92);
  width: auto;
  height: 50px;
}
.yellow-section {
  background-color: #FFBF00;
  border-bottom: 8px solid #CC900;
  width: 150%;
  max-width: 400px;
  height: 50px;
  border-radius: 2px;
  padding: 10px;
  margin-top: 5px;
}
.yellow-section p {
  font-weight: bolder;
  font-size: 25px;
  margin-top: 10px;
  position: absolute;
}

/*media query*/
@media (max-width: 600px) {
  .gray-div {
    width: auto;
  }
}
.yellow-section {
  width: 80vw;
  height: 80px;
  padding-top: 2px;
  margin-top: 5px;
}

.yellow-section p {
  font-size: 30px;
  font-weight: bolder;
}

p {
  font-size: 25px;
}

@media (max-width: 479px) {
  .yellow-section p {
    font-size: 18px;
  }
  .yellow-section {
    width: 100%;
    max-width: 250px;
    height: 50px;
    border-radius: 2px;
    padding: 10px;
  }
}
