* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  position: sticky;
  top: 0;
  background-color: #000000bd;
}

nav a {
  color: #fff;
  transition: transform 0.2s ease, color 0.2s ease;
}

nav a:hover {
  transform: scale(1.2);
  color: rgb(20, 219, 20);
}

.container {
  display: flex;
  justify-content: space-around;
  height: 100%;
  min-height: 100vh;
  align-items: center;
  padding: 2rem;
  background-color: rgba(173, 216, 230, 0.144);
}

.left-section {
  width: 100%;
  max-width: 500px;
}

.logo {
  width: fit-content;
}

.left-section h1 {
  text-align: left;
  font-weight: bolder;
}

.left-section p {
  text-align: left;
  max-width: 400px;
  color: gray;
  font-family: Brown;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  margin-top: 10px;
}

.right-section {
  width: 100%;
  padding: 2rem;
  max-width: 650px;
  background-color: #fff;
  box-shadow: 0 0 10px rgb(207, 201, 201);
  overflow: hidden;
}

.name {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.name:first-child {
  margin-top: 0;
}

.name {
  margin-top: 15px;
}

.text {
  display: flex;
  gap: 5px;
  flex-direction: column;
  width: 100%;
}

input,
select {
  padding: 14px;
  border: 1px solid rgb(222, 217, 217);
  width: 100%;
}

input:focus,
select:focus {
  outline: 1px solid mediumspringgreen;
}

label {
  font-weight: bolder;
}

.footer button {
  background-color: turquoise;
  color: #ffffff;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  outline: none;
  border: #ffffff;
  margin-top: 20px;
  margin-bottom: 5px;
}
.footer a {
  text-decoration: underline;
  color: turquoise;
}
.footerr p {
  font-weight: bolder;
}

/*media query*/

@media (max-width: 850px) {
  .right-section {
    max-width: 550px;
  }
}

@media (max-width: 750px) {
  .container {
    flex-direction: column;
  }
  .left-section{
    margin-bottom: 20px;
  }
  .right-section, .left-section{
    max-width: 100%;
  }
}

 @media (max-width: 600px) {
  .name{
    flex-direction: column;
  }
}
/* end of media query */
